{{ define "permission/edituser.html" }}
<!DOCTYPE html>
<html>
{{template "header" }}

<body class="pace-done">
<div id="wrapper">
{{template "nav" .}}
<div id="page-wrapper" class="gray-bg">
{{template "topbar" .}}
{{template "functionarea" .}}
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>编辑用户 <small>～～.</small></h5>
                        </div>
                        <div class="ibox-content">
                            {{if .userinfo}}
                            {{$roleinfo := .roleinfo}}
                            <form class="form-horizontal" id="addUserForm">
                                <div class="form-group"><label class="col-sm-2 control-label">用户名</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="username" name="username" value="{{.userinfo.UserName}}" ></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10"><input type="password" class="form-control" id="password" name="password" value="{{.userinfo.PassWord}}"> <span class="help-block m-b-none">密码长度至少6位.</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">邮箱</label>

                                    <div class="col-sm-10"><input type="text" class="form-control" id="email" name="email" value="{{.userinfo.Email}}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择所属于的角色</label>
                                    <div class="col-sm-10">
                                       <select class="form-control m-b" name="roleId">	
                                            {{ if .rolelist}}
                                            {{range $k, $v := .rolelist}}
                                            <option value ="{{$v.RoleId}}" {{if eq $v.RoleId $roleinfo.RoleId}}selected="selected"{{end}}>{{$v.RoleName}}</option>
                                            {{end}}
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <input type="hidden" class="form-control" id="userid" name="uid" value="{{.userinfo.Id}}">
                                        <button class="btn btn-primary" >Save changes</button>
                                    </div>
                                </div>
                            </form>
                            {{else}}
                            没有信息
                            {{end}}
                        </div>
            </div>
        </div>
    </div>
</div>
{{template "script"}}
<script type="text/javascript">

$(document).ready(function(){
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "progressBar": true,
      "preventDuplicates": false,
      "positionClass": "toast-top-center",
      "onclick": null,
      "showDuration": "400",
      "hideDuration": "1000",
      "timeOut": "2000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }


    $('#addUserForm').submit(function(){
        var username = $("#username").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var uid = $("#userid").val();
        var roleId  = $("select[name='roleId']").val();    
        $.ajax({
            type:"POST",
            data: '{"username": "' + username + '", "password" : "' + password + '", "email" : "' + email + '", "role_id" : "' +    roleId + '", "uid" : "' + uid +  '"}',
            url: "/permission/edituserajax",
            cache: false,
            dataType: "json",
            success: function(result, statues, xml){
                if(result.code ==1){
                    window.location.href = "/permission/userlist"
                    return false;
                } 
                if(result.code == 0){
                    toastr.error("添加失败");
                    return false; 
                }
                if (result.code == 3) {
                    location.reload();
                    return false;
                }
                return false;
            },
            error: function(){
                toastr.error("你说你做了不该做的事，心中满是悔恨！");
                return false;
            }
        });
        return false; 
    });
 });
           

</script>
{{template "footer"}}
</div>
</div>
</body>
</html>
{{end}}
