{{define "script"}}
<script src="/static/bootstrap/js/jquery-2.1.1.js"></script>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/bootstrap/js/plugins/jeditable/jquery.jeditable.js"></script>
<!-- Sweet alert -->
<script src="/static/bootstrap/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/bootstrap/js/plugins/dataTables/datatables.min.js"></script>

<!-- Custom and plugin javascript -->
<!--<script src="../static/bootstrap/js/inspinia.js"></script>-->
<script src="/static/bootstrap/js/plugins/pace/pace.min.js"></script>

<!-- Toastr -->
<script src="/static/bootstrap/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/bootstrap/js/inspinia.js"></script>
{{ end }}
